body {
    background: #7F6FDE;
    /* color: #333333; */
    /* margin-top: 5rem; */
}

nav {
    float: unset;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    width: 800px;
    height: 50px;
    background-color: white;
    color: black;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    /* margin-top: 0px; */
    /* padding-top: 0px; */
        position: relative;
}

form {
    padding: 0px;
    width: 350px;
    height: 350px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* float: right; */
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
    box-sizing: border-box;
    border: black;
}
button {
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: #7F6FDE;
    color: #fff;
    margin: 20px;
    border: black;

}
.statement {
    color: white;
    font-size: small;
    margin-left: 200px;
}
.Icon {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin-top: 0px;
}